// @import url(' implement favored font here ')

:root {
    --primary-font: ;
    --secondary-font: ;

    --color-one: #119DA4; 
    --color-two: #0C7489; 
    --color-three: #13505B; 
    --color-four: #040404; 
    --color-five: #D7D9CE; 

}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
